body {
	  	background-color: #F0F0F0;
	  	font-family: garamond;
     }
    h1 {
      color: #990000;
      font-variant: small-caps;
      font-size: 3em;
      }

    p {
      color: #000099;
      }
